.container {
    max-width: max-content;
    margin: auto;
    padding: 1rem;
}

.formFields {
   padding-bottom: 15px;
}

.formlabel {
    margin: 0px 14px;
}

/* @media (max-width: 600px) {
    .container {
        margin: auto;
    }
} */