.container {
    max-width: max-content;
    margin: auto;
}

.formFields {
   padding-bottom: 1rem;
}


.formlabel {
    margin: 0px 14px;
}

/* @media (max-width: 600px) {
    .container {
        margin: auto;
    }
} */